@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Freckle+Face&display=swap');
*{
margin:0px;
paddding:0px;
}
.firstpage{
    height: 100vh;
    width: 100%;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h1{
   font-size: 50px;
   font-family: 'Dancing Script', cursive;
   margin-bottom: 20px;
}
p{
    font-size: 50px;
    font-family: 'Dancing Script', cursive; 
   
}
.button{
  
  
    display: flex;
    flex-direction: row;
}
.button{
padding: 10px;
    width: 200px;
    
  
    border: none;
}
.button :nth-child(1){
    background-color:beige ;
    padding: 10px;
    width: 200px;
    border: none;
    margin-right: 10px;
}
.button :nth-child(2){
    background-color: greenyellow;
    padding: 10px;
    width: 200px;
    border: none;
}
.hourlycount{
    height: 40px;
    width: 600px;
    background-color: aliceblue;

}
.reset{
    height: 30px;
    width: 200px;
    margin-top: 30px;
}



