*{
    margin: 0px;
    padding: 0px;
}
clock {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20vh;
  }
  